@import 'header';
@import 'footer';
@import 'gallery-grid';

.body{
    max-width: auto;
    margin: auto;

}
.first{
    margin-top: 40px;
    margin-left: 100px;
    font-family: "Mulish", sans-serif;
    font-size: 22;
    color: blue; 
}
.title_info{
    width: 635px;
    height: 195px;
    margin-top: 25px;
    margin-left: 100px;
    font-family: "Mulish", sans-serif;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    color: #111111;
}
.small_info{
    width: 207px;
    height: 23px;
    margin-top: 0px;
    margin-left: 1100px;
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    opacity: 0.6;
}

.services-div {
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
    max-width: 90%;
    margin: 0 auto;
    
}

.services-intro p {
    width: 635px;
    height: auto; 
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #111111;
}

.services-list {
    display: flex;
    
    gap: 40px; 
    margin-top: 20px; 
}


.services-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.services-list li {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.awwwards-section {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.award-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.awwwards-title {
    flex: 1.5; 
    font-weight: 700;
    font-size: 22px;
}

.award-category {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
}

.award-details {
    flex: 1; 
}

.award-details .title {
    font-size: 16px;
    font-weight: 500;
}

.award-details .description {
    font-size: 16px;
    color: #777;
    max-width: 185px; 
    word-wrap: break-word; 
}

.award-year {
    text-align: right;
    font-size: 0.9em;
    color: #555;
}


